/******************************THEME DETAILS******************************/

:root {
    --dark-pink: #EC1D5F;
    --medium-pink: #F76985;
    --light-pink: #FCBACB;
    --lightest-pink: #FCDFE7;
    --header-font: 'Birthstone Bounce', cursive;
}

/******************************TAG SELECTORS******************************/

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: black;
    
}

h1 {
    color: var(--dark-pink);
    text-shadow: 0 0 6px var(--light-pink);
    font-family: var(--header-font);
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    margin: 0;
    padding-bottom: 3%;
    margin-left: -3%;
}

footer {
    color: var(--medium-pink);
    text-align: center;
}

/*****************************CLASS SELECTORS*****************************/

::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

.bg-color {
    background-color: var(--lightest-pink);
}

.nav-container {
    min-height: 56px;
    max-height: 56px;
    padding: 0 2%;
    background-color: transparent;
    z-index: 1;
    position: absolute;
}

.navbar {
    min-height: 56px;
    max-height: 56px;
}

.navbar-brand {
    line-height: 150%;
    margin: 0;
    margin-top: 150px;
}

.navbar-brand img {
    height: 170px;
}

.nav-bar ul {
    list-style-type: none;
    text-shadow: 0 0 2px black;

}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: none;
    --bs-navbar-toggler-border-color: var(--light-pink);
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-toggler[aria-expanded="true"] .drop-icon {
    transform: scaleY(-1);
    transition: transform 200ms ease;
}

.drop-icon {
    color: var(--light-pink);
    transition: transform 200ms ease;
}

.nav-bar a {
    font-size: 1.35rem;
    color: var(--light-pink);
    text-decoration: none;
    line-height: 100%;
    padding: 0 10px;
    transition: color 300ms ease, text-shadow 300ms ease;

}

.navbar-collapse {
    text-align: right;
    width: fit-content;
    
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
    color: var(--dark-pink);
    text-shadow: 0 0px 2px var(--darkest-pink);
    transition: color 300ms ease, text-shadow 300ms ease;

}

.imgbox {
    background-image: url("images/golden-dog-pink-collar.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.title {
    text-align: center;
    padding: 0 2%;
    position: absolute;
    bottom: 5%;
}

.section-box {
    padding: 3% 5%;
    
}



.card-header {
    background-color: var(--light-pink);
    border: solid;
    border-color: var(--light-pink);
    border-width: 2px;
}

.card-header:first-child {
    border-width: 1px;
    border-color: var(--medium-pink);
    border-radius: var(--bs-card-inner-border-radius);
    transition: border-radius 400ms ease, all 150ms ease;

}

.card-header[aria-expanded="true"]:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
    transition: border-radius 400ms ease, all 150ms ease;
}

.btn {
    --bs-btn-bg: var(--light-pink);
    --bs-btn-border-color: var(--medium-pink);
    --bs-btn-hover-bg: var(--medium-pink);
    --bs-btn-hover-border-color: var(--medium-pink);
    --bs-btn-active-bg: var(--medium-pink);
    --bs-btn-active-border-color: var(--dark-pink);
    transition: all 150ms ease;
}

.card-body ul {
    margin: auto 0;
}

/* .card-body {
    height: fit-content;
} */

.card {
    border: none;
}

.card-header[aria-expanded="true"] .card-drop-icon-r,
.card-header[aria-expanded="true"] .card-drop-icon-l {
    transform: scaleY(-1);
    transition: transform 200ms ease;
}

.card-drop-icon-r,
.card-drop-icon-l {
    position: absolute;
    top: 17px;
    font-size: 1.5rem;
    color: var(--lightest-pink);
    text-shadow: 0 0 2px black;
    transition: transform 200ms ease;
}

.card-drop-icon-r {
    right: 2%;
}

.card-drop-icon-l {
    left: 2%;
}






.map-wrapper {
    height: 450px;
    width: 550px;
    max-width: 100%;
    margin-bottom: 20px;
}

.contact-col ul,
.contact-col li,
.icon-col ul,
.icon-col li {
    width: fit-content;
    max-width: fit-content;
    list-style: none;
    padding-left: 0;
}

.contact-col li {
    margin-right: 0;
}


.contact-col {
    width: fit-content;
    max-width: fit-content;

}

.icon-col {
    color: var(--dark-pink);
    padding-right: 0;
    font-size: 3rem;
    text-align: center;
    
}

.contact-col,
.icon-col {
    line-height: 8.2rem;
    position: relative;
    top: -2.4rem;
}



.second-row {
    height: 100%;
   
}

.second-col {
    margin-bottom: -5.8rem;
    padding-right: 0;
}

.footer {
    margin: 0;
}

/*******************************ID SELECTORS*******************************/

#navbarToggler01 {
    transition: height 300ms ease;
}

/******************************MEDIA QUERIES******************************/

@media screen and (max-width: 979px) {
    .contact-col,
    .icon-col {
        line-height: 5rem;
        position: relative;
        top: -1.5rem;
    }
    
    .second-col {
        margin-bottom: -3.8rem;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        line-height: 150%;
        margin: 0;
    }

    .navbar-collapse {
        text-align: right;
        width: fit-content;
        position: absolute;
        top: 50px;
        right: 0;
    }

}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 4rem;
        font-weight: 500;
    }

    .title {
        padding: 0;
        bottom: 2%;
    }

    .navbar-brand {
        line-height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 1px;
    }

    .navbar-brand img {
        height: 100px;
    }


}

@media screen and (max-width: 368px) {
    .icon-col {
        font-size: 1.07rem;
    }
    .contact-col,
    .icon-col {
        line-height: 2rem;
        position: relative;
    }

    .contact-col {
        padding-left: 2px;
        padding-right: 0;
        font-size: 0.97rem;
    }
    
    .second-col {
        margin-bottom: -3rem;
        max-width: fit-content;
    }
    
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2.9rem;
        font-weight: 400;
    }

    .title {
        padding: 0;
        bottom: 2%;
    }
    

}


@media screen and (min-width: 450px) {
    p {
        margin-left: 3%;
        margin-right: 3%;
    }
}